body {
  margin: 0;
}
.main_header {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_container {
  min-height: 90vh;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container .login_container {
  min-height: 70vh;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: row;
}

.main_container .login_container .login_content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 2 2;
}

.main_container .login_container .login_welcome {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 3 3;
}

.main_container .login_container .login_content .login_title {
}
